/* Estilos para a página de detalhes */
body{
  background-color: rgb(0, 0, 0);
  
}
h1{
  color: rgb(195, 195, 195);
}
h2{
  color: rgb(195, 195, 195);
}

.image-container {
  display: flex; /* Alinha os elementos lado a lado */
  padding: 20px;
  color: rgb(167, 167, 167);
  font-size: 20px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.image-info {
  max-width: 40%; 
  display: flex;
  flex-direction: column;


}
  
#selected-image {
  max-width: 30%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0px 0px 15px rgba(109, 106, 110, 0.5);
  border-radius: 10px;
}

/* Estilos para o grid "Mais para explorar" */
.grid-container {
  column-count: 4;
  column-gap: 10px;
  padding: 10px;
}

.grid-item {
  break-inside: avoid;
  margin-bottom: 10px;
}

.grid-item img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 10px;

}

.grid-item img:hover {
  opacity: 0.7;
}