body {
    background-image: url('https://images-assets.nasa.gov/image/PIA09178/PIA09178~medium.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: auto;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    width: 10%;
    margin: 100px auto;
    padding: 35px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 10px;
    align-items: center;
    
  
  }


  
  .form-group {
    margin-bottom: 15px;

  }
  
  label {
    display: block;
    font-size: 14px;
    color: #333;
    
  }

  
  input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-btn:hover {
    background-color: #2980b9;
  }
  
  .signup-question {
    margin-top: 20px;
    text-align: center;
  }
  
  .signup-question a {
    color: #3498db;
    text-decoration: none;
  }
  
  .signup-question a:hover {
    text-decoration: underline;
  }

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 40px;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 400px;
    outline: none;
    background-color: rgb(255, 255, 255, 0.5);
    margin-top: 6%;
    align-items: center;
}

#search-btn {
    background-color: rgba(66, 66, 80, 0.5);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    margin-top: 6%;
}

#search-btn:hover {
    background-color: #62666b;
}

.image-info {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: right;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1000;
    padding: 10px 20px;
    margin-bottom: 50%;
    border-radius: 0 0 10px 10px;
    background-color: rgba(193, 193, 193, 0.2);
    border: 1px solid rgba(68, 68, 68, 0.5);
}

.navbar-logo img {
    height: 50px; 
}

.navbar-links a,
.navbar-buttons button {
    margin: 0 10px;
    text-decoration: none;
    color: white; 
    font-size: 25px;
    font-weight: bold;

}
